* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    height:15.625rem ;
    background: var(--gradient);
 
}
.container {
    max-width: 900px;
    padding: 2.56rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
.nav nav {
    
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size:1.5rem ;
    font-weight: 400;
    color: var(--white);
}

.search {
    margin-top: 4.4rem;
}
form {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;

}
form img {
    margin: 17px;
}

.search input {
   
    width: 900px;
    height: 65px;

    border: 0;
    background: none;
    color: white;
   
}
.search input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 18px;
}
.search input:placeholder-shown {
    color: white;
}
main {
 
    background: #E5E5E5;}

.news-container {
    padding: 100px 0;
    max-width: 900px;
    margin: 0 auto; 
  
   
 
}
.news {
    border-radius: 5px;
   background: white;
    padding: 41px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    margin-bottom: 40px;
}
.news .top {
    display: flex;
    justify-content: space-between;
}
.news .top span {
    color: var(--textligth);
    font-size: 1rem;
    margin-bottom: 22px;
}
.news .text h2 {
    color: var(--textdark) ;
    font-size: 26px;
}
.news .text h3 {
    margin-top: 8px;
    color: var(--textligth);
    font-size: 18px;
    font-weight: 400;
}